@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root{
  --background-color: #24272C;
  --icon-background-color: #181B20;
  --main-text-color: #FCFCFB;
  --secondary-text-color: #797D84;
  --pink-color: #F00A3D;
  --image-background-color: #1A1F26;
  }
body{
  margin:0px;
  padding: 0px;
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}
*{
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:var(--image-background-color);
  font-weight: bold;
}
a.btn {
  width: 150px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F00A3D;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  border:2px solid #F00A3D;
  gap: 5px;
}
a.btn:hover{
  background-color: #fff;
  color: #F00A3D;
  border:2px solid #F00A3D;
  cursor: pointer;
  transition: 1s;
  -webkit-transform: none;
  transform: none;
}

input{
  outline: none;
  border: none;
}
#main{
  width:100%;
  height:768px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('./images/banner.png'); */
  position: relative;
  z-index: 0;
}
#main::before{
  position: absolute;
  content: "";
  background: -moz-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: transparent;
    transition: 0.6s ease-in-out;
}
nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #1D3557;
}
.logo{
  color: var(--main-text-color);
  font-size: xx-large;
}
.logo span{
  color: var(--pink-color)
}
nav ul{
  display: flex;
  align-items: center;
  margin: 0;
  height: 70px;
  justify-content: center;
}
.active{
    background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}
.active:hover{
  background-color: #000000;
  color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}
nav ul li{
  color:#F1FAEE;
}
nav ul li a{
  font-family: 'Lato';
	height:40px;
	line-height: 43px;
  cursor: pointer;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
	background-color: #FF1414;
  color:var(--main-text-color);
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon{
	display:none;
	}
nav{
  background-color: var(--background-color) ;
}

/* *********************************************HOME-INTRO****************************************** */
/* *********************************************HOME-INTRO****************************************** */
/* *********************************************HOME-INTRO****************************************** */
.home-space{
  background-color: #F1FAEE;
  padding: 120px 0px 0px 0px;
  width: 100%;
}
.intro-span{
  color:var(--pink-color)
}
.sub-head{
  font-size: xx-large;
  font-weight: bold;
  margin: 0px;
}
.sub-pera{
  margin: 30px 0px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.name{
  color: var(--pink-color);
  font-weight: bold;
  font-size: 50px;
}
.image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design{
  width: 500px;
  height: 500px;
  background-color: #1D3557;
  border-radius: 46% 54% 28% 72% / 61% 30% 70% 39% ; 
}
.my-image{
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-image img{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 450px;
  height: 450px;
  border-radius: 46% 54% 28% 72% / 61% 30% 70% 39% ; 
}
/* *********************************Icons************************** */
.social-media{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 50px; */
}
.facebook-icon {
  color: #1877F2; 
  font-size: xx-large;
  border: 3px solid #000000;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
}
.instagram-icon {
  background: radial-gradient(circle at 30% 30%, #feda75 0%, #fa7e1e 40%, #d62976 60%, #962fbf 80%, #4f5bd5 100%);
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 20px;
  font-size: xx-large;
  padding: 5px;
  margin: 10px;
  border: 3px solid #000000;
  border-radius: 15px;
}
.twitter-icon {
  color: #1DA1F2; /* Twitter blue */
  font-size: xx-large;
  padding: 5px;
  margin: 10px;
  border: 3px solid #000000;
  border-radius: 15px;
}
.linkedin-icon {
  color: #0077B5; /* LinkedIn blue */
  font-size: xx-large;
  padding: 5px;
  margin: 10px;
  border: 3px solid #000000;
  border-radius: 15px;
}
.facebook-icon:hover , .facebook-icon:focus, .facebook-icon:active, 
.instagram-icon:hover, .instagram-icon:focus, .instagram-icon:active,
.twitter-icon:hover, .twitter-icon:focus, .twitter-icon:active,
.linkedin-icon:hover, .linkedin-icon:focus, .linkedin-icon:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
/* *********************************************SERVICES****************************************** */
/* *********************************************SERVICES****************************************** */
.services{
  background-color: #6FDCE3;
}
.small-heading{
  color: var(--pink-color);
  padding: 20px 0px;
  font-weight: bold;
  margin: 0px;
}
.heading{
  font-size: 40px;
  font-weight: bold;
  color: var(--main-text-color);
}
.boxes{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  background-color: var(--background-color);
  width: 100%;
  height: fit-content;
  border-radius: 25px;
  padding: 30px;
  color: var(--main-text-color);
}
.box:hover, .box:focus, .box:active{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
.service-logo{
  font-size: 30px;
}
.a-b-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.box-head {
  font-size: 25px;
}
.box-pera{
  font-size: 16px;
  font-weight: bold;
  height: 70px;
}
/* *********************************************PROJECTS****************************************** */
/* *********************************************PROJECTS****************************************** */
.projects{
  background-color: #f5cac3;
}
.card-col{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 25px;
}
.cards{
  border-radius: 25px;
  padding: 20px;
  height: 500px;
  width: 100%;
  background-color: var(--background-color);
}
.cards:hover, .cards:focus, .cards:active{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}

.project-image img{
  width: 100%;
  height: 275px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.title{
  padding: 10px 0px;
  color: var(--secondary-text-color);
}
.detail{
    color: var(--main-text-color);
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* *********************************************SKILLS****************************************** */
/* *********************************************SKILLS****************************************** */
.skills{
  background-color: #84a59d;
}
.bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bar:hover, .bar:focus, .bar:active{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
.circular-progress {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 85%;
  width: 85%;
  background-color: #ffffff;
  border-radius: 80%;
}
.value-container {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
.skills-title{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--background-color);
  font-weight: bold;
}
/* *********************************************ABOUT**************************************** */
/* *********************************************ABOUT**************************************** */
.about{
  background-color: var(--icon-background-color);
}
.loader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
.about-head{
  color: var(--main-text-color);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about-pera{
  color: var(--main-text-color);
  font-weight: bold;
}
/* *********************************************Contact**************************************** */
/* *********************************************Contact**************************************** */
.contact-us{
  background-color: var(--background-color);
}
.contact-small-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink-color);
  padding: 20px 0px;
  font-weight: bold;
  margin: 0px;
}
.contact-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--main-text-color);
}
.contact-us-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-width{
  width: 100%;
}
.cont-box{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-text-color);
  padding: 20px;
  border-radius: 30px;
}
.cont-detail h4{
  font-size: 20px;
}
/* *********************************************FORM**************************************** */
/* *********************************************FORM**************************************** */
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 36px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
/* *********************************************FOOTER************************************ */
/* *********************************************FOOTER************************************ */
.footer{
  background-color: #000000;
}
.footer-social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);  
}

/* ***********************************************media width 1100px****************************** */
/* ***********************************************media width 1100px****************************** */
/* ***********************************************media width 1100px****************************** */

@media(max-width:1100px){.menu-icon{
  display:block;}
      nav{
          justify-content: space-between;
          height: 65px;
          padding: 0px 30px;
      }
      .header-btns{
          margin: 0;
      }
      .pr-btns{
          margin: 0;
      }
      .menu{
          display:none;
          position:absolute;
          top:65px;
          left:0px;
          background-color:#1D3557;
          border-bottom:4px solid #FF1414;
          width:100%;
          height: fit-content;
          padding:0px;
          margin:0px;
      }
      .menu li{
          width:100%;
      }
      nav .menu li a{
          width:100%;
          height:40px;
          justify-content: center;
          align-items: center;
          margin:0px;
          padding: 25px;
          border:1px solid rgba(38,38,38,0.03);
       }
      nav .menu-icon{
          cursor:pointer;
          float:right;
          padding:28px 20px;
          position:relative;
          user-select: none;
      }
      nav .menu-icon .nav-icon{
          background-color:#ffffff;
          display:block;
          height:2px;
          position:relative;
          transition: background 0.2s ease-out;
          width:24px;
      }
      nav .menu-icon .nav-icon:before,
      nav .menu-icon .nav-icon:after{
          background:rgb(255, 255, 255);
          content:'';
          display:block;
          height:100%;
          position:absolute;
          transition:all ease-out 0.2s;
          width:100%;
      }
      nav .menu-icon .nav-icon:before{
          top:6px;
      }
      nav .menu-icon .nav-icon:after{
          top:-6px;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon{
          background:transparent;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
          transform: rotate(-45deg);
          top:0;
      }
      nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
          transform: rotate(45deg);
          top:0;
      }
      nav .menu-btn{
          display:none;
      }
      nav .menu-btn:checked ~ .menu{
          display:block;
      }
      /* *********************************************HOME-INTRO****************************************** */
      
      .design, .my-image{
        width: 450px;
        height: 450px;
        
      }
      .my-image img{
        width: 400px;
        height: 400px;
      }

          /* ****************service*********** */
      .box-pera{
        font-size: 12px;
        height: 60px;
      }
    }
/* ***********************************************media width 780px****************************** */
/* ***********************************************media width 780px****************************** */
/* ***********************************************media width 780px****************************** */

    @media(max-width:780px){ 
      .box-head {
        font-size: 20px;
    }
    .pointing-img img{
      display: none;
     }

    }
/* ***********************************************media width 550px****************************** */
/* ***********************************************media width 550px****************************** */
/* ***********************************************media width 550px****************************** */

      @media(max-width:550px){
/* *********************************************HOME-INTRO****************************************** */
        .name{
          font-size: 40px;
        }
        .image{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .design, .my-image{
          width: 300px;
          height: 300px;
          
        }
        .my-image img{
          width: 250px;
          height: 250px;
        }
          /* ****************service*********** */
        .box{
          padding: 20px;
        }
        .box-head {
          font-size: 15px;
        }
        .box-pera {
          font-size: 12px;
          font-weight: bold;
        }
    }


/* ***********************************************media width 400px****************************** */
/* ***********************************************media width 400px****************************** */
/* ***********************************************media width 400px****************************** */
      @media(max-width:400px){
          .a-box{
              width: 100%;
              height:400px;
          }
          .sub-head{
            font-size: 18px;
          }
          .name{
            font-size: 28px;
          }
          .sub-pera{
            font-size: 12px;
          }
          .social-media{
            width: 100%;
          }
          /* ****************service*********** */
          .box{
            padding: 20px;
          }
          .service-logo {
            font-size: 20px;
          }
          .box-head {
            font-size: 12px;
          }
          .box-pera {
           font-size: 8px;
          }
          /* *************PROJECTS************ */
          .cards {
            width: 90%;
            height: 350px;
          }
          .project-image img {
              height: 170px;
          }
          .title .box-head{
            font-size: 12px;
          }
          .detail .box-pera{
            margin: 0px;
            font-size: 10px;
          }
          a.btn {
            width: 100px;
            font-size: 10px;
          }
          .circular-progress {
            height: 150px;
            width: 150px;
          }
          .cont-detail h4 {
            font-size: 15px;
          }
          .heading {
            font-size: 36px;
          }
          .contact-heading {
            font-size: 36px;
          }
          .copyright{
            font-size: 13px;
          }
      }